<h1> Historical ECB Data</h1>
<p>
This item shows historical ECB data.
</p>
<div class="loading" *ngIf="loading">
	<mat-spinner></mat-spinner>
  </div>
<div *ngIf="!loading" class="currencies">
	<h3 class="card-header">Historical Conversion Rates</h3>  
	<form [formGroup]="dynamicForm">
		<label>Please Select A Date</label>
		<select formControlName="theDate" id="theDate" name="theDate" (change)="onChangeDate($event)">
			<option value=""></option>
			<option *ngFor="let curr of loadedData" 
          		[value]="curr.theDate">{{curr.theDate}}</option>
        </select>
	</form>

	<div *ngIf="selected">
		<br />
		<h3>Data For Date: {{selectedData.theDate}}</h3>	
		<table class='table table-striped'>
		<thead>
			<tr>
			<th>Date</th>
			<th>Currency</th>
			<th>Rate</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let currency of selectedData.rates">
			<td>{{selectedData.theDate}}</td>
			<td>{{currency.currency}}</td>
			<td>{{currency.rate}}</td>
				
			</tr>	  
		</tbody> 
		</table>
	</div>
</div>
