<div class="hero">
    <div>
        <h1>Currency Application</h1>
        <p>
            This app has three main areas associated with it:
            
            

        </p>
       
        <h2> 1. Currency rates source</h2>
<p>
Currency rates can be pulled from European Central Bank website:
</p>
<ul>
    <li><a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">Reference Page</a></li>
    <li><a href="https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml">Current Rates Source</a></li>
    <li><a href="https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml">Historical Rates Source (last 90 days)</a></li>
</ul>
<h2>2. Conversion between currencies</h2>
<p>Client UI allows selection of “Source” currency and “Destination” currency,
    entering the source amount and instant conversion into destination amount.</p>

<p>Example:</p>
<ul>
    <li>Source: USD, Amount: 20,000</li>
    <li>Destination: EURO, Calculated Amount: [SOURCE_AMOUNT] * [FX_RATE]</li>
    
</ul> 
<p>
Client UI displays the source of the rates (EU Cent. Bank or other) and the latest
update date and time.
</p>
<h2>3. Conversion History</h2>
<p>
    Client UI allows saving and displaying conversion results (see para 2 “Conversion
    between currencies”).
</p>
<p>
Users can save current conversion state with these parameters:
</p>
<ul>
    <li>Source Currency, Source Amount</li>
    <li>Destination Currency, Calculated Amount</li>
    <li>Date/Time, Rate Source and Notes.</li>

</ul>
    
  </div>